USE [SinavSistemiDB]
GO
/****** Object:  Table [dbo].[BOLUMLER]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLUMLER](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAd] [nvarchar](100) NULL,
 CONSTRAINT [PK__BOLUMLER__7BAD4B5CF8A208BE] PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DERSLER]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DERSLER](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](20) NOT NULL,
	[DersAd] [nvarchar](150) NOT NULL,
	[OgrenciSayisi] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[BolumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DERSLIKLER]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DERSLIKLER](
	[DerslikID] [int] IDENTITY(1,1) NOT NULL,
	[DerslikAd] [nvarchar](50) NULL,
	[Kapasite] [int] NULL,
	[KatBilgisi] [int] NULL,
	[Tip] [nvarchar](30) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK__DERSLIKL__8E733DCA55511B7E] PRIMARY KEY CLUSTERED 
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOZETMEN_ATAMALARI]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOZETMEN_ATAMALARI](
	[AtamaID] [int] IDENTITY(1,1) NOT NULL,
	[Sinav_SalonID] [int] NULL,
	[PersonelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTURUMLAR]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTURUMLAR](
	[OturumID] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [nvarchar](50) NULL,
	[BaslangicSaat] [time](7) NOT NULL,
	[BitisSaat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Unvan] [nvarchar](50) NULL,
	[PersonelAd] [nvarchar](50) NULL,
	[PersonelSoyad] [nvarchar](50) NULL,
	[BolumID] [int] NULL,
 CONSTRAINT [PK__PERSONEL__0F0C5751C719ECEF] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL_MAZERET]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_MAZERET](
	[MazeretID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NULL,
	[MazeretTarih] [date] NOT NULL,
	[OturumID] [int] NULL,
	[Neden] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MazeretID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINAV_SALONLARI]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINAV_SALONLARI](
	[Sinav_SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NULL,
	[DerslikID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Sinav_SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINAVLAR]    Script Date: 10.05.2026 19:06:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINAVLAR](
	[SinavID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[SinavTarih] [date] NOT NULL,
	[OturumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOLUMLER] ON 

INSERT [dbo].[BOLUMLER] ([BolumID], [BolumAd]) VALUES (1, N'Yazılım Mühendisliği')
INSERT [dbo].[BOLUMLER] ([BolumID], [BolumAd]) VALUES (2, N'Elektrik-Elektronik Müh.')
INSERT [dbo].[BOLUMLER] ([BolumID], [BolumAd]) VALUES (3, N'Mekatronik Mühendisliği')
SET IDENTITY_INSERT [dbo].[BOLUMLER] OFF
GO
SET IDENTITY_INSERT [dbo].[DERSLER] ON 

INSERT [dbo].[DERSLER] ([DersID], [DersKodu], [DersAd], [OgrenciSayisi], [Yariyil], [BolumID]) VALUES (1, N'YZM2000', N'Y1', 85, 1, 1)
INSERT [dbo].[DERSLER] ([DersID], [DersKodu], [DersAd], [OgrenciSayisi], [Yariyil], [BolumID]) VALUES (2, N'YZM2001', N'Y2', 110, 1, 1)
INSERT [dbo].[DERSLER] ([DersID], [DersKodu], [DersAd], [OgrenciSayisi], [Yariyil], [BolumID]) VALUES (3, N'YZM2002', N'Y3', 95, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[DERSLER] OFF
GO
SET IDENTITY_INSERT [dbo].[DERSLIKLER] ON 

INSERT [dbo].[DERSLIKLER] ([DerslikID], [DerslikAd], [Kapasite], [KatBilgisi], [Tip], [AktifMi]) VALUES (1, N'Amfi-1', 100, 1, N'Amfi', 1)
INSERT [dbo].[DERSLIKLER] ([DerslikID], [DerslikAd], [Kapasite], [KatBilgisi], [Tip], [AktifMi]) VALUES (2, N'Amfi-2', 100, 2, N'Amfi', 1)
INSERT [dbo].[DERSLIKLER] ([DerslikID], [DerslikAd], [Kapasite], [KatBilgisi], [Tip], [AktifMi]) VALUES (3, N'Amfi-3', 100, 3, N'Amfi', 1)
SET IDENTITY_INSERT [dbo].[DERSLIKLER] OFF
GO
SET IDENTITY_INSERT [dbo].[OTURUMLAR] ON 

INSERT [dbo].[OTURUMLAR] ([OturumID], [Tanim], [BaslangicSaat], [BitisSaat]) VALUES (1, N'Sabah-1', CAST(N'09:00:00' AS Time), CAST(N'10:30:00' AS Time))
INSERT [dbo].[OTURUMLAR] ([OturumID], [Tanim], [BaslangicSaat], [BitisSaat]) VALUES (2, N'Sabah-2', CAST(N'11:00:00' AS Time), CAST(N'12:30:00' AS Time))
INSERT [dbo].[OTURUMLAR] ([OturumID], [Tanim], [BaslangicSaat], [BitisSaat]) VALUES (3, N'Öğle-1', CAST(N'13:30:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[OTURUMLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONEL] ON 

INSERT [dbo].[PERSONEL] ([PersonelID], [Unvan], [PersonelAd], [PersonelSoyad], [BolumID]) VALUES (1, N'Prof. Dr.', N'Yazilim', N'Hoca1', 1)
INSERT [dbo].[PERSONEL] ([PersonelID], [Unvan], [PersonelAd], [PersonelSoyad], [BolumID]) VALUES (2, N'Doç. Dr.', N'Yazilim', N'Hoca2', 1)
INSERT [dbo].[PERSONEL] ([PersonelID], [Unvan], [PersonelAd], [PersonelSoyad], [BolumID]) VALUES (3, N'Dr. Öğr. Üyesi', N'Yazilim', N'Hoca3', 1)
SET IDENTITY_INSERT [dbo].[PERSONEL] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DERSLER__9DCB30EFFF2DD2FC]    Script Date: 10.05.2026 19:06:42 ******/
ALTER TABLE [dbo].[DERSLER] ADD UNIQUE NONCLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DERSLIKLER] ADD  CONSTRAINT [DF__DERSLIKLE__Aktif__5FB337D6]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[DERSLER]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[BOLUMLER] ([BolumID])
GO
ALTER TABLE [dbo].[DERSLER] CHECK CONSTRAINT [FK_Ders_Bolum]
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI]  WITH CHECK ADD  CONSTRAINT [FK_Atama_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONEL] ([PersonelID])
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI] CHECK CONSTRAINT [FK_Atama_Personel]
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI]  WITH CHECK ADD  CONSTRAINT [FK_Atama_SinavSalon] FOREIGN KEY([Sinav_SalonID])
REFERENCES [dbo].[SINAV_SALONLARI] ([Sinav_SalonID])
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI] CHECK CONSTRAINT [FK_Atama_SinavSalon]
GO
ALTER TABLE [dbo].[PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[BOLUMLER] ([BolumID])
GO
ALTER TABLE [dbo].[PERSONEL] CHECK CONSTRAINT [FK_Personel_Bolum]
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET]  WITH CHECK ADD  CONSTRAINT [FK_Mazeret_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[OTURUMLAR] ([OturumID])
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET] CHECK CONSTRAINT [FK_Mazeret_Oturum]
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET]  WITH CHECK ADD  CONSTRAINT [FK_Mazeret_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONEL] ([PersonelID])
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET] CHECK CONSTRAINT [FK_Mazeret_Personel]
GO
ALTER TABLE [dbo].[SINAV_SALONLARI]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalon_Derslik] FOREIGN KEY([DerslikID])
REFERENCES [dbo].[DERSLIKLER] ([DerslikID])
GO
ALTER TABLE [dbo].[SINAV_SALONLARI] CHECK CONSTRAINT [FK_SinavSalon_Derslik]
GO
ALTER TABLE [dbo].[SINAV_SALONLARI]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalon_Sinav] FOREIGN KEY([SinavID])
REFERENCES [dbo].[SINAVLAR] ([SinavID])
GO
ALTER TABLE [dbo].[SINAV_SALONLARI] CHECK CONSTRAINT [FK_SinavSalon_Sinav]
GO
ALTER TABLE [dbo].[SINAVLAR]  WITH CHECK ADD  CONSTRAINT [FK_Sinav_Ders] FOREIGN KEY([DersID])
REFERENCES [dbo].[DERSLER] ([DersID])
GO
ALTER TABLE [dbo].[SINAVLAR] CHECK CONSTRAINT [FK_Sinav_Ders]
GO
ALTER TABLE [dbo].[SINAVLAR]  WITH CHECK ADD  CONSTRAINT [FK_Sinav_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[OTURUMLAR] ([OturumID])
GO
ALTER TABLE [dbo].[SINAVLAR] CHECK CONSTRAINT [FK_Sinav_Oturum]
GO
ALTER TABLE [dbo].[DERSLER]  WITH CHECK ADD CHECK  (([OgrenciSayisi]>(0)))
GO
ALTER TABLE [dbo].[DERSLIKLER]  WITH CHECK ADD  CONSTRAINT [CK__DERSLIKLE__Kapas__5EBF139D] CHECK  (([Kapasite]>(0)))
GO
ALTER TABLE [dbo].[DERSLIKLER] CHECK CONSTRAINT [CK__DERSLIKLE__Kapas__5EBF139D]
GO
