USE [master]
GO
/****** Nesnesi: Database [SinavSistemiDB] Betik Tarihi: 10.05.2026 20:04:04 ******/
CREATE DATABASE [SinavSistemiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinavSistemiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SinavSistemiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SinavSistemiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SinavSistemiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinavSistemiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinavSistemiDB]
GO
/****** Nesnesi: DatabaseRole [App_Viewer] Betik Tarihi: 10.05.2026 20:04:04 ******/
CREATE ROLE [App_Viewer]
GO
/****** Nesnesi: DatabaseRole [App_Admin] Betik Tarihi: 10.05.2026 20:04:04 ******/
CREATE ROLE [App_Admin]
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_DonemCakismaVarMi] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DonemCakismaVarMi] (@Yariyil INT, @Tarih DATE, @OturumID INT)
RETURNS BIT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM SINAVLAR S 
               JOIN DERSLER D ON S.DersID = D.DersID 
               WHERE D.Yariyil = @Yariyil AND S.SinavTarih = @Tarih AND S.OturumID = @OturumID)
        RETURN 1; -- Çakışma Var
    RETURN 0; -- Çakışma Yok
END
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_PersonelGorevSayisi] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PersonelGorevSayisi] (@PersonelID INT)
RETURNS INT
AS
BEGIN
    DECLARE @ToplamGorev INT;
    SELECT @ToplamGorev = COUNT(*) FROM GOZETMEN_ATAMALARI WHERE PersonelID = @PersonelID;
    RETURN @ToplamGorev;
END
GO
/****** Nesnesi: UserDefinedFunction [dbo].[fn_SalonMusaitMi] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SalonMusaitMi] (@DerslikID INT, @Tarih DATE, @OturumID INT)
RETURNS BIT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM SINAV_SALONLARI SS 
               JOIN SINAVLAR S ON SS.SinavID = S.SinavID 
               WHERE SS.DerslikID = @DerslikID AND S.SinavTarih = @Tarih AND S.OturumID = @OturumID)
        RETURN 0; -- Dolu
    RETURN 1; -- Boş
END
GO
/****** Nesnesi: Table [dbo].[SistemLoglari] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TabloAdi] [nvarchar](50) NULL,
	[IslemTipi] [nvarchar](20) NULL,
	[IslemTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_LogRaporu] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Görünüm: Log Raporu
CREATE VIEW [dbo].[vw_LogRaporu]
AS
SELECT LogID, TabloAdi, IslemTipi, IslemTarihi, Aciklama, KullaniciAdi
FROM dbo.SistemLoglari;
GO
/****** Nesnesi: Table [dbo].[SINAVLAR] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINAVLAR](
	[SinavID] [int] IDENTITY(1,1) NOT NULL,
	[DersID] [int] NULL,
	[SinavTarih] [date] NOT NULL,
	[OturumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SinavID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_YaklasanSinavlar] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 2. Görünüm: Yaklaşan Sınavlar Raporu*/
CREATE VIEW [dbo].[vw_YaklasanSinavlar]
AS
SELECT SinavID, DersID, SinavTarih, OturumID
FROM  dbo.SINAVLAR
WHERE (SinavTarih >= CAST(GETDATE() AS DATE))
GO
/****** Nesnesi: Table [dbo].[DERSLER] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DERSLER](
	[DersID] [int] IDENTITY(1,1) NOT NULL,
	[DersKodu] [nvarchar](20) NOT NULL,
	[DersAd] [nvarchar](150) NOT NULL,
	[OgrenciSayisi] [int] NOT NULL,
	[Yariyil] [int] NOT NULL,
	[BolumID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DersKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: View [dbo].[vw_SinavProgrami] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 3. Görünüm: Sınav Programı Çıktısı (Sınavlar ve Dersler Birleşimi)*/
CREATE VIEW [dbo].[vw_SinavProgrami]
AS
SELECT s.SinavID, s.SinavTarih, s.OturumID, d.DersID
FROM  dbo.SINAVLAR AS s INNER JOIN
         dbo.DERSLER AS d ON s.DersID = d.DersID
GO
/****** Nesnesi: Table [dbo].[BOLUMLER] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOLUMLER](
	[BolumID] [int] IDENTITY(1,1) NOT NULL,
	[BolumAd] [nvarchar](100) NULL,
 CONSTRAINT [PK__BOLUMLER__7BAD4B5CF8A208BE] PRIMARY KEY CLUSTERED 
(
	[BolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[DERSLIKLER] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DERSLIKLER](
	[DerslikID] [int] IDENTITY(1,1) NOT NULL,
	[DerslikAd] [nvarchar](50) NULL,
	[Kapasite] [int] NULL,
	[KatBilgisi] [int] NULL,
	[Tip] [nvarchar](30) NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK__DERSLIKL__8E733DCA55511B7E] PRIMARY KEY CLUSTERED 
(
	[DerslikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[GOZETMEN_ATAMALARI] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOZETMEN_ATAMALARI](
	[AtamaID] [int] IDENTITY(1,1) NOT NULL,
	[Sinav_SalonID] [int] NULL,
	[PersonelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AtamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[OTURUMLAR] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTURUMLAR](
	[OturumID] [int] IDENTITY(1,1) NOT NULL,
	[Tanim] [nvarchar](50) NULL,
	[BaslangicSaat] [time](7) NOT NULL,
	[BitisSaat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OturumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[PERSONEL] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[Unvan] [nvarchar](50) NULL,
	[PersonelAd] [nvarchar](50) NULL,
	[PersonelSoyad] [nvarchar](50) NULL,
	[BolumID] [int] NULL,
 CONSTRAINT [PK__PERSONEL__0F0C5751C719ECEF] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[PERSONEL_MAZERET] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL_MAZERET](
	[MazeretID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelID] [int] NULL,
	[MazeretTarih] [date] NOT NULL,
	[OturumID] [int] NULL,
	[Neden] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MazeretID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[SINAV_SALONLARI] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINAV_SALONLARI](
	[Sinav_SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SinavID] [int] NULL,
	[DerslikID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Sinav_SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DERSLIKLER] ADD  CONSTRAINT [DF__DERSLIKLE__Aktif__5FB337D6]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[SistemLoglari] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[SistemLoglari] ADD  DEFAULT (suser_name()) FOR [KullaniciAdi]
GO
ALTER TABLE [dbo].[DERSLER]  WITH CHECK ADD  CONSTRAINT [FK_Ders_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[BOLUMLER] ([BolumID])
GO
ALTER TABLE [dbo].[DERSLER] CHECK CONSTRAINT [FK_Ders_Bolum]
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI]  WITH CHECK ADD  CONSTRAINT [FK_Atama_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONEL] ([PersonelID])
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI] CHECK CONSTRAINT [FK_Atama_Personel]
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI]  WITH CHECK ADD  CONSTRAINT [FK_Atama_SinavSalon] FOREIGN KEY([Sinav_SalonID])
REFERENCES [dbo].[SINAV_SALONLARI] ([Sinav_SalonID])
GO
ALTER TABLE [dbo].[GOZETMEN_ATAMALARI] CHECK CONSTRAINT [FK_Atama_SinavSalon]
GO
ALTER TABLE [dbo].[PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Bolum] FOREIGN KEY([BolumID])
REFERENCES [dbo].[BOLUMLER] ([BolumID])
GO
ALTER TABLE [dbo].[PERSONEL] CHECK CONSTRAINT [FK_Personel_Bolum]
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET]  WITH CHECK ADD  CONSTRAINT [FK_Mazeret_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[OTURUMLAR] ([OturumID])
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET] CHECK CONSTRAINT [FK_Mazeret_Oturum]
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET]  WITH CHECK ADD  CONSTRAINT [FK_Mazeret_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[PERSONEL] ([PersonelID])
GO
ALTER TABLE [dbo].[PERSONEL_MAZERET] CHECK CONSTRAINT [FK_Mazeret_Personel]
GO
ALTER TABLE [dbo].[SINAV_SALONLARI]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalon_Derslik] FOREIGN KEY([DerslikID])
REFERENCES [dbo].[DERSLIKLER] ([DerslikID])
GO
ALTER TABLE [dbo].[SINAV_SALONLARI] CHECK CONSTRAINT [FK_SinavSalon_Derslik]
GO
ALTER TABLE [dbo].[SINAV_SALONLARI]  WITH CHECK ADD  CONSTRAINT [FK_SinavSalon_Sinav] FOREIGN KEY([SinavID])
REFERENCES [dbo].[SINAVLAR] ([SinavID])
GO
ALTER TABLE [dbo].[SINAV_SALONLARI] CHECK CONSTRAINT [FK_SinavSalon_Sinav]
GO
ALTER TABLE [dbo].[SINAVLAR]  WITH CHECK ADD  CONSTRAINT [FK_Sinav_Ders] FOREIGN KEY([DersID])
REFERENCES [dbo].[DERSLER] ([DersID])
GO
ALTER TABLE [dbo].[SINAVLAR] CHECK CONSTRAINT [FK_Sinav_Ders]
GO
ALTER TABLE [dbo].[SINAVLAR]  WITH CHECK ADD  CONSTRAINT [FK_Sinav_Oturum] FOREIGN KEY([OturumID])
REFERENCES [dbo].[OTURUMLAR] ([OturumID])
GO
ALTER TABLE [dbo].[SINAVLAR] CHECK CONSTRAINT [FK_Sinav_Oturum]
GO
ALTER TABLE [dbo].[DERSLER]  WITH CHECK ADD CHECK  (([OgrenciSayisi]>(0)))
GO
ALTER TABLE [dbo].[DERSLIKLER]  WITH CHECK ADD  CONSTRAINT [CK__DERSLIKLE__Kapas__5EBF139D] CHECK  (([Kapasite]>(0)))
GO
ALTER TABLE [dbo].[DERSLIKLER] CHECK CONSTRAINT [CK__DERSLIKLE__Kapas__5EBF139D]
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_AtamaYap_Gozetmen] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtamaYap_Gozetmen]
    @SinavSalonID INT
AS
BEGIN
    DECLARE @DersBolumID INT, @Tarih DATE, @OturumID INT;
    SELECT @DersBolumID = D.BolumID, @Tarih = S.SinavTarih, @OturumID = S.OturumID 
    FROM SINAV_SALONLARI SS JOIN SINAVLAR S ON SS.SinavID = S.SinavID JOIN DERSLER D ON S.DersID = D.DersID
    WHERE SS.Sinav_SalonID = @SinavSalonID;

   INSERT INTO GOZETMEN_ATAMALARI (Sinav_SalonID, PersonelID)
SELECT TOP 1 @SinavSalonID, P.PersonelID FROM PERSONEL P
    WHERE P.PersonelID NOT IN (SELECT PersonelID FROM PERSONEL_MAZERET WHERE MazeretTarih = @Tarih AND OturumID = @OturumID)
    ORDER BY 
        CASE WHEN P.BolumID = @DersBolumID THEN 0 ELSE 1 END, -- Önce kendi bölümü
        dbo.fn_PersonelGorevSayisi(P.PersonelID) ASC; -- Sonra en az görev alan
END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_AtamaYap_Salon] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtamaYap_Salon]
    @SinavID INT
AS
BEGIN
    DECLARE @KalanOgrenci INT, @DersID INT;
    SELECT @DersID = DersID FROM SINAVLAR WHERE SinavID = @SinavID;
    SELECT @KalanOgrenci = OgrenciSayisi FROM DERSLER WHERE DersID = @DersID;

    -- Kapasitesi en yüksek ve o oturumda boş olan salonları bul
    DECLARE Salon_Cursor CURSOR FOR 
    SELECT DerslikID FROM DERSLIKLER 
    WHERE AktifMi = 1 AND dbo.fn_SalonMusaitMi(DerslikID, (SELECT SinavTarih FROM SINAVLAR WHERE SinavID = @SinavID), (SELECT OturumID FROM SINAVLAR WHERE SinavID = @SinavID)) = 1
    ORDER BY Kapasite DESC;

    OPEN Salon_Cursor;
    DECLARE @DerslikID INT;
    FETCH NEXT FROM Salon_Cursor INTO @DerslikID;

    WHILE @@FETCH_STATUS = 0 AND @KalanOgrenci > 0
    BEGIN
        INSERT INTO SINAV_SALONLARI (SinavID, DerslikID) VALUES (@SinavID, @DerslikID);
        SET @KalanOgrenci = @KalanOgrenci - (SELECT Kapasite FROM DERSLIKLER WHERE DerslikID = @DerslikID);
        FETCH NEXT FROM Salon_Cursor INTO @DerslikID;
    END
    CLOSE Salon_Cursor; DEALLOCATE Salon_Cursor;
END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_GuvenliSinavEkle] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GuvenliSinavEkle]
    @DersID INT,
    @SinavTarihi DATE,
    @Oturum INT
AS
BEGIN
    BEGIN TRY
        -- İşlemi Başlat (Güvenli Çember)
        BEGIN TRANSACTION; 

        -- 1. Adım: Sınavı Tabloya Ekle
        INSERT INTO dbo.SINAVLAR (DersID, SinavTarih, OturumID)
        VALUES (@DersID, @SinavTarihi, @Oturum);

        -- Her şey hatasız çalıştıysa işlemi onayla (Kaydet)
        COMMIT TRANSACTION;
        PRINT 'Sınav başarıyla eklendi ve işlem onaylandı!';

    END TRY
    BEGIN CATCH
        -- HATA ÇIKARSA: İşlemi tamamen iptal et ve geri al
        ROLLBACK TRANSACTION;

        -- Hatayı Log tablosuna kaydet
        DECLARE @Hata NVARCHAR(MAX) = ERROR_MESSAGE();
        INSERT INTO dbo.SistemLoglari (TabloAdi, IslemTipi, Aciklama)
        VALUES ('SINAVLAR', 'HATA-ROLLBACK', 'Sınav eklenirken hata çıktı: ' + @Hata);

        PRINT 'HATA OLUŞTU: İşlem iptal edildi. Hata sisteme loglandı.';
    END CATCH
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_SınavTakvimiOlustur] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SınavTakvimiOlustur]
AS
BEGIN
    DECLARE @DersID INT, @Yariyil INT;
    
    -- 1. Tüm dersleri öğrenci sayısına göre (en zoru en önce) listeye alıyoruz
    DECLARE Ders_Cursor CURSOR FOR 
    SELECT DersID, Yariyil FROM DERSLER ORDER BY OgrenciSayisi DESC;

    OPEN Ders_Cursor;
    FETCH NEXT FROM Ders_Cursor INTO @DersID, @Yariyil;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @Bulundu BIT = 0;
        DECLARE @OturumID INT = 1; -- 1. Oturumdan (Pazartesi sabah) başla
        
        -- 2. Uygun boş oturum bulana kadar dön
        WHILE @Bulundu = 0 AND @OturumID <= (SELECT MAX(OturumID) FROM OTURUMLAR)
        BEGIN
            -- Senin yazdığın UDF'i kullanarak çakışma kontrolü yapıyoruz
            IF dbo.fn_DonemCakismaVarMi(@Yariyil, CAST(GETDATE() AS DATE), @OturumID) = 0
            BEGIN
                -- 3. Sınavı bu oturuma ekle
                INSERT INTO SINAVLAR (DersID, SinavTarih, OturumID)
                VALUES (@DersID, CAST(GETDATE() AS DATE), @OturumID);
                
                DECLARE @YeniSinavID INT = SCOPE_IDENTITY();

                -- 4. SENİN YAZDIĞIN SP'LERİ TETİKLE (Salon ve Gözetmen ataması için)
                EXEC sp_AtamaYap_Salon @YeniSinavID;
                
                -- Salon atandıktan sonra her salon için gözetmen ata
                DECLARE @SalonAtamaID INT;
                DECLARE Salon_Atama_Cursor CURSOR FOR SELECT Sinav_SalonID FROM SINAV_SALONLARI WHERE SinavID = @YeniSinavID;
                OPEN Salon_Atama_Cursor;
                FETCH NEXT FROM Salon_Atama_Cursor INTO @SalonAtamaID;
                WHILE @@FETCH_STATUS = 0
                BEGIN
                    EXEC sp_AtamaYap_Gozetmen @SalonAtamaID;
                    FETCH NEXT FROM Salon_Atama_Cursor INTO @SalonAtamaID;
                END
                CLOSE Salon_Atama_Cursor; DEALLOCATE Salon_Atama_Cursor;

                SET @Bulundu = 1;
            END
            SET @OturumID = @OturumID + 1;
        END
        FETCH NEXT FROM Ders_Cursor INTO @DersID, @Yariyil;
    END
    CLOSE Ders_Cursor; DEALLOCATE Ders_Cursor;
END
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_VeritabaniniYedekle] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VeritabaniniYedekle]
AS
BEGIN
    DECLARE @DosyaYolu NVARCHAR(255);
    DECLARE @Zaman NVARCHAR(20);

    -- Yedek dosyasına tarih ve saat ekleyerek her seferinde yeni dosya oluşmasını sağlıyoruz
    SET @Zaman = REPLACE(REPLACE(REPLACE(CONVERT(NVARCHAR, GETDATE(), 120), '-', '_'), ' ', '_'), ':', '');
    SET @DosyaYolu = 'C:\Yedekler\SinavSistemiDB_' + @Zaman + '.bak';

    BACKUP DATABASE SinavSistemiDB 
    TO DISK = @DosyaYolu 
    WITH FORMAT, MEDIANAME = 'SQLServerBackups', NAME = 'Full Backup of SinavSistemiDB';

    PRINT 'Yedekleme Islemi Basariyla Tamamlandi: ' + @DosyaYolu;
END;
GO
/****** Nesnesi: StoredProcedure [dbo].[sp_VeritabaniYedekAl] Betik Tarihi: 10.05.2026 20:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VeritabaniYedekAl]
AS
BEGIN
    -- Yedek dosyasının adını tarihli şekilde oluşturur
    DECLARE @DosyaYolu NVARCHAR(255) = 'C:\Yedekler\SinavSistemi_' + FORMAT(GETDATE(), 'yyyyMMdd_HHmm') + '.bak';
    
    -- Veritabanı yedeğini belirtilen konuma alır
    -- Not: 'Veritabani_Adiniz' kısmını kendi DB isminle değiştir.
    BACKUP DATABASE [Veritabani_Adiniz] TO DISK = @DosyaYolu;
    
    PRINT 'Yedekleme başarıyla tamamlandı: ' + @DosyaYolu;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[32] 4[41] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "s"
            Begin Extent = 
               Top = 12
               Left = 76
               Bottom = 326
               Right = 367
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 32
               Left = 564
               Bottom = 399
               Right = 855
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_SinavProgrami'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_SinavProgrami'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SINAVLAR"
            Begin Extent = 
               Top = 89
               Left = 104
               Bottom = 336
               Right = 395
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_YaklasanSinavlar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_YaklasanSinavlar'
GO
USE [master]
GO
